* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* Default Browser Size is 16px, we used rem, so when set it to 10px default size by using 10/16*100  */ }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  color: #777;
  padding: 30px;
  line-height: 1.7;
  box-sizing: border-box; }

.header {
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url("../img/hero.jpg");
  height: 95vh;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    backface-visibility: hidden;
    text-align: center; }

.text-primary-main {
  display: block;
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 3.5rem;
  animation: moveInLeft 1s ease-out; }

.text-primary-sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1.75rem;
  margin-bottom: 6rem;
  animation: moveInRight 1s ease-out;
  /* animation-name: moveInRight;
    animation-delay: 1s;
    animation-timing-function: ease-out; */ }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  80% {
    opacity: 1;
    transform: translateX(10%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  80% {
    opacity: 1;
    transform: translateX(-10%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  display: inline-block;
  border-radius: 10rem;
  padding: 1.5rem 4rem;
  transition: all 0.3s;
  position: relative;
  animation: moveInBottom 0.5s ease-out; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2); }

.btn-white {
  color: #777;
  background-color: white; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
  animation-fill-mode: backwards; }

.btn-white::after {
  background-color: #fff; }

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0; }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }

.u-center-heading {
  text-align: center; }

.heading-secondary {
  font-size: 3.5rem;
  font-weight: 700;
  background: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  text-align: center;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  column-gap: 20px;
  max-width: 114rem;
  margin: auto; }

.grid-item {
  padding: 5px;
  font-size: 30px;
  max-width: 55rem; }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-margin-bottom-2 {
  margin-bottom: 1.5rem; }

.btn-text:link, .btn-text:visited {
  font-size: 1.8rem;
  color: #55c57a;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #55c57a;
  padding: 3px;
  transition: all 0.2s; }

.btn-text:hover {
  background-color: #55c57a;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-3px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-3px); }

.composition {
  position: relatives; }
  .composition__photo {
    z-index: 10;
    width: 22%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    transition: all 0.2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: 100rem;
      left: 94rem; }
    .composition__photo--p2 {
      top: 108rem;
      left: 121rem; }
    .composition__photo--p3 {
      top: 118rem;
      left: 63%; }
    .composition__photo:hover {
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.4);
      z-index: 20;
      outline: 1.5rem solid #55c57a; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }
