/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/
* {
margin: 0;
padding: 0;
box-sizing: inherit;
}
html{
    font-size: 62.5%;   /* Default Browser Size is 16px, we used rem, so when set it to 10px default size by using 10/16*100  */
}

body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    color: #777;
    padding: 30px;
    line-height: 1.7;
    box-sizing: border-box;

}
.header{
 background-image: linear-gradient(to right bottom,rgba(126,213,111,0.8),rgba(40,180,131,0.8)) ,url("../img/hero.jpg");
 height: 95vh;
 background-position: top;
 clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); 
 position: relative;
}
.logo-box{
    position: absolute;
    top: 3rem;
    left: 3rem;
}
.logo{
    height: 3.5rem;
}
.text-box{
color: #fff;
text-transform: uppercase;
position: absolute;
top: 40%;
left: 50%;
transform: translate(-50%,-50%);
backface-visibility: hidden;
text-align: center;
}
.text-primary-main{
display: block;
font-weight: 400;
font-size: 6rem;
letter-spacing: 3.5rem;
animation: moveInLeft 1s ease-out;

}
.text-primary-sub{
display: block;
font-size: 2rem;
font-weight: 700;
letter-spacing: 1.75rem; 
margin-bottom: 6rem;
animation: moveInRight 1s ease-out;

/* animation-name: moveInRight;
animation-delay: 1s;
animation-timing-function: ease-out; */

}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    80%{
        opacity: 1;
        transform: translateX(10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform: translateX(100%);
    }
    80%{
        opacity: 1;
        transform: translateX(-10%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

.btn:link, .btn:visited{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6rem;
    display: inline-block;
    border-radius: 10rem;
    padding: 1.5rem 4rem;
    transition: all .3s;
    position: relative;
    animation: moveInBottom 0.5s ease-out;
}
.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.2);
}
.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);

}
.btn-white{
    color: #777;
    background-color: white;
}
.btn::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    animation-fill-mode: backwards;
}
.btn-white::after{
    background-color: #fff;

}
.btn:hover::after{
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform: translateY(3rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}